# Ignore files.
*.mk
*.env
*.test
*.tmp
*.temp

# Ignore directory.
_output/**
bin/
tmp/
temp/
work/
study/
local/
.vscode/
.idea/

# Asciidoc
.asciidoctor/
*.html
*.pdf
*.epub
*.epub3

# Generated images
docs/**/*.png
docs/**/*.svg
docs/**/*.pdf
