name: Check Suite Scheduled

on:
  workflow_call: {}

jobs:
  vulnerability:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - uses: aileron-projects/_scripts/.github/actions/govulncheck@main

  copyleft:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - uses: aileron-projects/_scripts/.github/actions/scanoss@main
