name: Check Suite Common

on:
  workflow_call: {}

jobs:
  spell:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - uses: aileron-projects/_scripts/.github/actions/cspell@main

  markdown-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - uses: aileron-projects/_scripts/.github/actions/markdownlint@main

  prettier:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - uses: aileron-projects/_scripts/.github/actions/prettier@main

  shellcheck:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - uses: aileron-projects/_scripts/.github/actions/shellcheck@main

  shfmt:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - uses: aileron-projects/_scripts/.github/actions/shfmt@main
