name: Go Test

on:
  workflow_dispatch: {}
  workflow_call: {}
  push: {}

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    name: ${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        include:
          - { runner: "ubuntu", os: "linux" }
          - { runner: "windows", os: "windows" }
          - { runner: "macos", os: "darwin" }
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - uses: aileron-projects/_scripts/.github/actions/go-test@main
        with:
          go-os: ${{ matrix.os }}
          go-version-file: go.mod
