name: Workflow Test Build

on:
  workflow_dispatch: {}
  push: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  binary:
    uses: ./.github/workflows/build-binary.yaml
  package:
    needs: binary
    uses: ./.github/workflows/build-package.yaml
